.service-container{
    color: #1C1F35;
    font-family: 'Rubik',sans-serif;
    gap: 33px;
    padding: 0 220px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 350px;
    background-color: white;
}
.what-we-do{
    background-color: #E8E8E880;
    font-family: 'Rubik',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.safe-reliable{
    font-size: 35px;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
}
.item-container{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
.service-left-conatiner{
    width: 26%;
}
.service-content{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}